﻿.body {
    font-family: Bradley Hand ITC;
    /*/*position:absolute;*/
    background-color: darkgrey;
    color:white;
    font-size: xx-large;
}

.select {
    text-align :center;
    font-family: Guttman Yad-Light;
    color: white;
}

option {
    font-family: Guttman Yad-Light;
}
.remember {
    color: #848db8;
}
input[type=text], input[type=password] {
    width: 100%;
    /*padding: 12px 20px;*/
    margin: 8px 0;
    /*display: inline-block;*/
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: Bradley Hand ITC;
}

button {
    font-family: Bradley Hand ITC;
    background-color: #4CAF50;
    color: white;
    /*padding: 14px 20px;
    margin: 8px 0;*/
    cursor: pointer;
    width: 100%;
}

    button:hover {
        opacity: 0.8;
    }

span.psw {
    /*float: right;*/
    padding-top: 16px;
}

.logo {
    /*padding-left:20%;*/
    float: right;
    margin-right: 30%;
    /*padding-right :30%;*/
    width: 30%;
    height: 30%;
}

#select {
    text-align:center;
    font-family: Guttman Yad-Light;
    margin-left: 40%;
    margin-top: 5%;
    width: 20%;
    background-color: #848db8;
    height: 20%;
    color: white;
}

logo {
    width: 90%;
}

#login {
    background-color: #848db8;
    font-family: Bradley Hand ITC;
}

.addCloth {
    color:white;
    font-family: Bradley Hand ITC;
    width: 20%;
    height: 20%;
    background-color: #848db8;
    font-family: Bradley Hand ITC;
    margin-left: 40%;
    margin-top: 1.5%;
}

.logout {
    color:white;
    font-family: Bradley Hand ITC;
    width: 20%;
    height: 20%;
    background-color: #848db8;
    font-family: Bradley Hand ITC;
    margin-left: 40%;
    margin-top: 1.5%;
}

label {
    color: #848db8;
}

.header {
    background-color: #848db8;
    display: inline-block;
    width: 100%;
}

body {

    font-family: Bradley Hand ITC;
    background: #FFFFFF;
    font-size:x-large;
}

#container {
    display: inline-flex;
    /*padding-left: 30%;*/
}

img {
    margin: 25px 10px;
    position: relative;
    /*display: inline-block;*/
    margin-right: 0.5%;
    /*margin-top: 5%;*/
    height: 150px;
    border: 5px solid #f38915;
    /*border: 5px solid #f38915;*/
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
}

    button:hover {
        opacity: 0.8;
    }

/* Extra styles for the cancel button */
.cancelbtn {
    font-family: Bradley Hand ITC;
    width: auto;
    padding: 10px 18px;
    background-color: #848db8;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    /*border-radius: 50%;*/
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

#loginAdmin {
    font-family: Bradley Hand ITC;
    background-color: #848db8;
    width: 20%;
    height: 20%;
    /* padding-left: 20%; */
    margin-left: 40%;
    margin-top: 0.5%;
}

option {
    text-align:center;
    font-family:Guttman Yad-Light;
    background-color: darkgrey;
    color: firebrick;
    color: white;
}

.delete {
    font-size :smaller;
    display: list-item;
    font-family: Bradley Hand ITC;
    background-color: #848db8;
}

.update {
    font-size: smaller;
    font-family: Bradley Hand ITC;
    background-color: #848db8
}
form{font-size:x-large;}
#dialogDetailes {
    background-color: #848db8;
    font-family: Bradley Hand ITC;
    font-size: smaller;
    color: white;
}
#dialogEdit {
    background-color: #848db8;
    font-family: Bradley Hand ITC;
    font-size: smaller;
    color: white;
}
#editCloth {
    background-color: #848db8;
    font-family: Bradley Hand ITC;
    font-size: smaller;
    color: white;
}